.options{
	width: 80%;
	display: flex;
	align-items: center;
 	justify-content: space-between;
	margin-bottom: 1rem;
}

.subject__options > span{
	margin-right: 1rem;
	cursor: pointer;
}

#download__btn{
  	padding: 0.7rem 2rem;
	border: none;
	border-radius: 0.5rem;
	background-color: #3A3B3C;	
	cursor: pointer;
	color: white;
	box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.24);
}

#download_btn:hover{
	color: black;
}